
<div ngResizable ngDraggable class="drag-block-lg tvchart-tab" id="tvchart" style="display:block;">
    <!-- <button type="button" class="close" aria-label="Close" (click)="closetvchart()">
        <span aria-hidden="true">&times;</span>
    </button> -->
    <!-- <span class="min" style="color:rgba(255, 255, 255, 0.356);">_</span> -->
    <!-- <button class="mintv" id="mintv"  ></button> -->
    <!-- <div class="header-dw" (click)="buttonclick()">Chart</div> -->
    <!-- <div class="tvchart-body">
    <div class="col-md-12 top-sp">
        <div class="app-tv-chart-container" id="tv_chart_container"></div>
    </div>
</div> -->
<div id="fliptv" >
   
        <label class="nametxt">Chart</label>
            <button class="btnclose" id="btnclosetv" style="display:block;" (click)="closetvchart()"><i class="fa fa-close"></i></button>
            <button class="btnclose" id="restore11" style="display: none;" (click)="restorewindow()"><i class="fa fa-window-restore"
                aria-hidden="true"></i></button> 
                <button class="btnclose" id="minimizetv" style="display: block;" (click)="buttonclick()"><i class="fa fa-window-minimize"
                    aria-hidden="true"></i></button>  
</div>
<div id="paneltv">
    <div class="col-md-12 top-sp">
        <div class="app-tv-chart-container" id="tv_chart_container"></div>
    </div>
</div>
