
  <div class="loading-mask" *ngIf="data.loader" >
    <div class="img text-center">
        <div class="sk-chase">
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
          </div>
      <!-- <img class="loadImg" src="./assets/svg-loaders/{{data.icon}}.svg" width="120" alt=""> -->
    
    </div>
    <!-- <h3 class="text-white load-position">Loading...</h3> -->
  </div>