/* .demosor-tab{
  width:524px;
  height:360px;
  left: 110px;

  bottom: 100px;
  background-color: rgb(71, 63, 63);
  border:1px solid rgb(115, 113, 117) ;
  padding-left: 5px;
  
} */
#panelsor, #flipsor {
  width: 100%;
  padding: 5px;
  text-align: center;
 
  border:1px solid rgb(115, 113, 117) ;
  /* width:275px; */
  
}
#flipsor{
  background-color: rgb(0, 0, 0);
  border-top:1px solid grey;
 border-left:1px solid grey;
 border-left:1px solid grey;
 color: rgb(182, 181, 181);
 text-align: center;
  font-size: 13px;
}
#panelsor{
  background-color: rgb(19,23,34);
  /* padding: 50px; */
  /* height:408px; */
  /* display: none; */
}
.demosor-body{
  /* width:524px;
  height:360px; */
  /* left: 110px; */

  /* bottom: 100px; */
  background-color:rgb(19,23,34);
  /* border:1px solid rgb(115, 113, 117) ; */
  padding-left: 5px;
}
.header-dw{
width: 100%;
position: absolute;
left: 1px;
background-color: rgb(0, 0, 0);
text-align: center;
height: 17px;
font-size: 13px;
color: rgb(97, 91, 91);
}
button.close {

  position: absolute;
z-index: 1;
  left: 501px;
  margin-top: -6px
}

.ng-draggable {
  cursor: grab;
}
 
.ng-dragging {
  cursor: grabbing;
}
.minsor {
  position: absolute;
  left: 473px;
  z-index: 1;
  top: 5px;
 
}
.minsor.btn-plus {
  /* position: sticky;
  left: 1029px; */
  z-index: 1;
  top: 0px;
  cursor: pointer;
  height: 16px;
  margin-left: -393px;
  top: 62px;

  background-color: rgb(240, 241, 240);
}
.top-sp select {
  word-wrap: normal;
  width: 120px;
  height: 25px;
  background-color: #110d0d;

  margin-right: 5PX;
  font-size: 9px;
  
  /* font-size: 36px; */}
/* 
td {
border: 2px solid rgb(0, 0, 0);
border-collapse: collapse;
}
tr{
border: 2px solid rgb(12, 12, 12);
}
th{
border: 3px solid rgb(52, 52, 53);
color:rgb(128, 119, 119);
font-family: "Times New Roman", Times, serif;
font-size: 12px;


}
table {
border-collapse: collapse;

} */
/* table, th, td {
color: grey;
font-family: "Arial Black", Gadget, sans-serif;
font-size: 10PX;
} */
/* .top-sp{
margin-top: 20px !important;
} */
th {
background-color: #070707;
color: rgb(119, 114, 114);
font-family: "Times New Roman", Times, serif;
font-size: 12px;

}
table, td{  
border: 2px solid rgb(41, 39, 39);
text-align: left;

font-family: "Times New Roman", Times, serif;
font-size: 12px;
color: rgb(52, 112, 180);
}
#table-msr table { table-layout:auto}
#table-msr col.totals { width: 7em }
#table-msr th, td { padding: 5px; } /* cellpadding */
#table-msr th{font-family: arial, sans-serif; font-size: 11px;color:aliceblue;text-align: center;background-color:rgb(61, 59, 59);}
#table-msr td{font-family: arial, sans-serif;font-size: 10px;color:rgb(255, 255, 255);text-align: center;border-style: dotted;}
#table-msr table { border:1px solid grey}
#table-msr table {
  border-collapse: collapse;
}

#table-msr table, th, td {
  border-color: aliceblue;
 
}
.table-msr{
  
  height:325px;
  overflow-y: auto; 
  overflow-x: hidden;
}
.table-msr.compare-msr{
  height:auto;
  width: auto;
  overflow-y: auto; 
  overflow-x: auto;
}
.table-msr.new-ht{
   
    
  width: 100%; 
  height: 100%;
  
}
.table-msr::-webkit-scrollbar{
  background: rgb(105, 103, 103); 
  border-radius: 15px;
  cursor: pointer;
  width: 10px;
}




