<div ngResizable class="drag-block-lg ticker-tab" id="tickerview" ngDraggable #block="ngDraggable"
  style="display:block;">

  <div id="flipticker">
    <label class="nametxt">Market View</label><button class="btnclose" (click)="closeTickerwindow()"><i
        class="fa fa-close"></i></button><button class="btnclose" id="maximizeticker" (click)="maximizewindow()"><i
        class="fa fa-window-maximize" id="maximize" aria-hidden="true"></i></button>
    <button class="btnclose" id="restoreticker" style="display: none;" (click)="restorewindow()"><i
        class="fa fa-window-restore" aria-hidden="true"></i></button>
    <button class="btnclose" id="restoreticker1" style="display: none;" (click)="restorewindow1()"><i
        class="fa fa-window-restore" aria-hidden="true"></i></button>
    <button class="btnclose" id="minimizticker" style="display: block;" (click)="buttonclick()"><i
        class="fa fa-window-minimize" aria-hidden="true"></i></button>
  </div>
  <div id="panelticker">
    <!-- <div class="row"> -->
    <div class="body-dw">
      <ngb-tabset class="tabset1">
        <ngb-tab>
          <ng-template ngbTabTitle><b (click)="binanceService.gettickerdata()">Watch List</b> </ng-template>
          <ng-template ngbTabContent>
            <div class="tab-pane active scrollable" id="my-trades" role="tabpanel" aria-labelledby="my-trades-tab">
              <!-- <div class="col-md-12 upper-spc">
                <div class="row">
                  <div clas="col-md-3">
                    <select class="form-control drln" id="bankno" required="">
                      <option _ngcontent-c12="">ROUTING NO</option>
                      <option _ngcontent-c12="">IFSC CODE</option>
                      <option _ngcontent-c12="">IBAN NO</option>
                    </select>
                  </div>
                  <div clas="col-md-2">
                    <input type="text" class="form-control left-sp">
                  </div>
                  <div clas="col-md-1">
                    <button class="gradient-button gradient-button-1 left-sp">ADD</button>
                  </div>
                  <div clas="col-md-1">
                    <button class="left-sp gradient-button gradient-button-1">QUOTE</button>
                  </div>
                  <div clas="col-md-1">
                    <button class="left-sp gradient-button gradient-button-1">SNAP VIEW</button>
                  </div>
                  <div clas="col-md-1">
                    <button class="left-sp gradient-button gradient-button-1">TREND</button>
                  </div>

                </div>
              </div> -->
              <div class="col-md-12 upper-spc">
                <div class="row">
                  <div clas="col-md-3">
                    <!-- <input type="text" class="form-control" (keyup)="searchasset()" style="background-color: snow !important;" [(ngModel)]="searchsymbol" > -->
                    <input type="text" class="form-control" id="myInput" (keydown.enter)="myFunction()" placeholder="Search for assets.." title="Type in a name">
                  
                  </div>
                  <div clas="col-md-3">
                    <button class="left-sp gradient-button gradient-button-1" (click)="Getalltickertable()">Refresh</button>
                    <!-- <input type="text" class="form-control left-sp" style="background-color: snow !important;"> -->
                  </div>
                </div>
              </div>

              <div class="table-msr" id="table-msr" style="display: block;" >
                <table style="width:100%;height: 100%;" class="table-bordered table-hover table-condensed">
                  <thead>
                    <tr>
                      <th>Asset</th>
                      <th>Volume</th>
                      <th>PriceChange</th>
                      <th>trends</th>
                      <th>Ask</th>
                      <th>AskQty</th>
                      <th>Bid</th>
                      <th>BidQty</th>
                      <th>CloseQty</th>
                      <th>CurrentClose</th>
                      <th>Open</th>
                      <th>Low</th>
                      <th>High</th>
                      <th>previousClose</th>

                      <th>quoteAssetVolume</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr *ngFor="let item of binanceService.alltickers;let i = index;">

                      <td>{{item.symbol}}</td>
                      <td>
                        {{item.baseAssetVolume|number : '.3-3'}}</td>
                      <td *ngIf="item.priceChangePercent>=0" style="background-color: green;">{{item.priceChange}}</td>
                      <td *ngIf="item.priceChangePercent<0" style="background-color: red;">{{item.priceChange}}</td>


                      <td *ngIf="item.currentClose-item.previousClose>=0" style="margin-right:5px;"><img
                          src="../../assets/img/up_final.png" height="16px" width="16px"></td>
                      <td *ngIf="item.currentClose-item.previousClose<0" style="margin-right:5px;"><img
                          src="../../assets/img/down.png" height="16px" width="16px"></td>
                      <td>
                        {{item.bestAskPrice|number : '.3-3'}}</td>

                      <td>{{item.bestAskQuantity|number : '.3-3'}}</td>

                      <td>{{item.bestBid|number : '.3-3'}}</td>
                      <td>
                        {{item.bestBidQuantity|number : '.2-2'}}</td>
                      <td>{{item.closeQuantity|number : '.2-2'}}</td>

                      <td>{{item.currentClose|number : '.2-2'}}</td>

                      <td>{{item.open|number : '.4-4'}}</td>
                      <td>{{item.low|number : '.4-4'}}</td>
                      <td>{{item.high|number : '.4-4'}}</td>


                      <td style="margin-right:5px;">{{item.previousClose}}</td>


                      <td>{{item.quoteAssetVolume|number : '.3-3'}}</td>

                    </tr>
                   
                  </tbody>
                </table>
              </div>
           <div class="oneticker" id="oneticker" style="display: none;">
            <table style="width:100%;height: 100%;" class="table-bordered table-hover table-condensed">
              <thead>
                <tr>
                  <th>Asset</th>
                  <th>Volume</th>
                  <th>PriceChange</th>
                  <th>trends</th>
                  <th>Ask</th>
                  <th>AskQty</th>
                  <th>Bid</th>
                  <th>BidQty</th>
                  <th>CloseQty</th>
                  <th>CurrentClose</th>
                  <th>Open</th>
                  <th>Low</th>
                  <th>High</th>
                  <th>previousClose</th>

                  <th>quoteAssetVolume</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngIf="binanceService.ticker!=undefined" >

                  <td>{{binanceService.ticker.symbol}}</td>
                  <td>
                    {{binanceService.ticker.baseAssetVolume|number : '.3-3'}}</td>
                  <!-- <td *ngIf="binanceService.ticker.priceChangePercent>=0" style="background-color: green;">{{binanceService.ticker.priceChange}}</td> -->
                  <td  style="background-color: red;">{{binanceService.ticker.priceChange}}</td>


                  <td *ngIf="binanceService.ticker.currentClose-binanceService.ticker.previousClose>=0" style="margin-right:5px;"><img
                      src="../../assets/img/up_final.png" height="16px" width="16px"></td>
                  <td *ngIf="binanceService.ticker.currentClose-binanceService.ticker.previousClose<0" style="margin-right:5px;"><img
                      src="../../assets/img/down.png" height="16px" width="16px"></td>
                  <td>
                    {{binanceService.ticker.bestAskPrice|number : '.3-3'}}</td>

                  <td>{{binanceService.ticker.bestAskQuantity|number : '.3-3'}}</td>

                  <td>{{binanceService.ticker.bestBid|number : '.3-3'}}</td>
                  <td>
                    {{binanceService.ticker.bestBidQuantity|number : '.2-2'}}</td>
                  <td>{{binanceService.ticker.closeQuantity|number : '.2-2'}}</td>

                  <td>{{binanceService.ticker.currentClose|number : '.2-2'}}</td>

                  <td>{{binanceService.ticker.open|number : '.4-4'}}</td>
                  <td>{{binanceService.ticker.low|number : '.4-4'}}</td>
                  <td>{{binanceService.ticker.high|number : '.4-4'}}</td>


                  <td style="margin-right:5px;">{{binanceService.ticker.previousClose}}</td>


                  <td>{{binanceService.ticker.quoteAssetVolume|number : '.3-3'}}</td>

                </tr>
               
              </tbody>
            </table>
           </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle><b (click)="Getallarders()">Offers</b> </ng-template>
          <ng-template ngbTabContent>
            <div class="tab-pane active scrollable" id="my-trades" role="tabpanel" aria-labelledby="my-trades-tab">
              <!-- <div class="col-md-12 upper-spc">
                <div class="row">
                  <div clas="col-md-3">
                    <select class="form-control drln" id="bankno" required="">
                      <option _ngcontent-c12="">ROUTING NO</option>
                      <option _ngcontent-c12="">IFSC CODE</option>
                      <option _ngcontent-c12="">IBAN NO</option>
                    </select>
                  </div>
                  <div clas="col-md-2">
                    <input type="text" class="form-control left-sp">
                  </div>
                  <div clas="col-md-1">
                    <button class="gradient-button gradient-button-1 left-sp">send</button>
                  </div>
                  <div clas="col-md-1">
                    <button class="left-sp gradient-button gradient-button-1">Amend</button>
                  </div>
                  <div clas="col-md-1">
                    <button class="left-sp gradient-button gradient-button-1">Amend</button>
                  </div>
                  <div clas="col-md-1">
                    <button class="left-sp gradient-button gradient-button-1">Action</button>
                  </div>
                  <div clas="col-md-1">
                    <button class="left-sp gradient-button gradient-button-1">Action</button>
                  </div>
                </div>
              </div> -->
              <!-- <div class="col-md-12 upper-spc">
                <div class="row">
                  <div clas="col-md-3">
                    <input type="text" class="form-control" style="background-color: snow !important;">
                  </div>
                  <div clas="col-md-3">
                    <input type="text" class="form-control left-sp" style="background-color: snow !important;">
                  </div>
                </div>
              </div> -->
              <div class="offertable">


                <table style="width:100%">
                  <tr>
                    <th>Symbol</th>
                    <th>OrderId</th>
                    <th>Price</th>
                    <th>StopPrice</th>
                    <th>OriginQty</th>
                    <th>ExecutedQty</th>
                    <th>Action</th>
                    <th>Status</th>
                  </tr>
                  <tr *ngFor="let item of alloffer;let i = index;" class="">
                    
                    <td>{{item.symbol}}</td>
                    <td>{{item.orderId}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.stopPrice}}</td>
                    <td >{{item.origQty}}</td>
                    <td>{{item.executedQty}}</td>
                    <td>{{item.side}}</td>
                    <td>{{item.status}}</td>
                    
                  </tr>
                  <tr *ngIf="alloffer==null" class="">
                    <td class="text-center">{{nodataMsg}}</td>

                  </tr>
                </table>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>

          <ng-template ngbTabTitle><b (click)="Getallarders()">Trades</b> </ng-template>
          <ng-template ngbTabContent>
            <div class="comntable">
              <table class="table">
                <tr>
                  <th>Symbol</th>
                    <th>OrderId</th>
                    <th>Price</th>
                    <th>StopPrice</th>
                    <th>OriginQty</th>
                    <th>ExecutedQty</th>
                    <th>Action</th>
                    <th>Status</th>
                </tr>
                <tr *ngFor="let t of alltrades;let i = index;" class="tradeheight">
                  <td>{{t.symbol}}</td>
                    <td>{{t.orderId}}</td>
                    <td>{{t.price}}</td>
                    <td>{{t.stopPrice}}</td>
                    <td >{{t.origQty}}</td>
                    <td>{{t.executedQty}}</td>
                    <td>{{t.side}}</td>
                    <td>{{t.status}}</td>
                    
                </tr>
                <tr *ngIf="alltrades==null" class="text-center text-white text-nomsg">
                  {{nodataMsg}}

                </tr>
                <!-- <tbody id="marketTrade" *ngIf="tradedata ==''">
                      <tr>
                        <td >
                          No Data
                        </td>
        
                      </tr>
                    </tbody> -->
              </table>

            </div>

          </ng-template>
        </ngb-tab>
        <ngb-tab>

          <ng-template ngbTabTitle><b (click)="GetAccountInfo()">My wallet</b> </ng-template>
          <ng-template ngbTabContent>
            <!-- <div class="col-md-12 upper-spc space-btm">
              <div class="row">
                <div clas="col-md-3">
                 <label class="form-control">Maker comission</label> <input type="text" [(ngModel)]="maker" class="form-control" style="background-color: snow !important;">
                </div>
                <div clas="col-md-3">
                <label class="form-control">Taker Comission</label>  <input type="text" [(ngModel)]="taker" class="form-control left-sp" style="background-color: snow !important;">
                </div>
              </div>
            </div> -->
            <div class="comntable">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Asset</th>
                    <th scope="col">free</th>
                    <th scope="col">Locked</th>
                    <th scope="col">Send</th>
                    <th scope="col">Receive</th>
                   
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let b of acbalance; let i=index">
                    
                    <td class="text-white">
                      {{b.asset}}</td>
                    <td class="text-white">
                      {{b.free}}</td>
                    <td class="text-white">
                      {{b.locked}}</td>
                    <td><a  class="text-skyblue"
                       (click)="Sendcurrency(sendcurrency,b.asset)" > 
                      <span class="diposit-hover text-white" >SEND</span>
                        <img src="../../assets/img/send.png" style="width: 20px;">
                       </a>
                  </td>
                  <td>
                    <a 
                     (click)="Getcurrency(receivecurrency,b.asset)">
                                    
                       <span class="diposit-hover text-white" >RECEIVE</span>
                       <img src="../../assets/img/pay.png" style="width: 20px;">
                   
                   </a>
                  </td>

                  </tr>
                  <tr *ngIf="acbalance==null" class="text-center text-white text-nomsg">
                    {{nodataMsg}}
  
                  </tr>
                </tbody>
              </table>
            </div>



            <!-- <div  id="wallettable">
                <table>
                  <tr>
                    <th scope="col">Asset</th>
                    <th scope="col">Price</th>
                      <th scope="col">Change</th>
                    <th scope="col">Holdings</th>
                    <th scope="col">Holdings ($)</th>
                   
                  </tr>
                  <tbody>
                    <tr *ngFor="let b of myBalanceList; let i=index">
                      <td style="width:12.5%;padding: 10px 0;border-bottom: 1px solid #ddd;" class="text-yellow"> <img
                          src="../../assets/img/currency/{{b.currencyCode}}.svg" height="17px" width="17px">
                        {{b.currencyCode|uppercase}}</td>
                      <td *ngIf="b.lastPrice != '0' || b.action=='buy'; else last_price" style="width:15%;padding: 10px 0;border-bottom: 1px solid #ddd;color:green" class="text-white">{{b.lastPrice}}</td>
                         <ng-template #last_price>
                           <td style="width:12.5%;padding: 10px 0;border-bottom: 1px solid #ddd; color:red" class="text-white">-</td>
                         </ng-template>
                         <td *ngIf="b.roc != '0'; else roc_blnc" style="width:15%;padding: 10px 0;border-bottom: 1px solid #ddd;" class="text-white">{{b.roc}}</td>
                         <ng-template #roc_blnc>
                           <td style="width:12.5%;padding: 10px 0;border-bottom: 1px solid #ddd;" class="text-white">-</td>
                         </ng-template>
                      <td style="width:12.5%;padding: 10px 0;border-bottom: 1px solid #ddd;" class="text-white">
                        {{b.closingBalance}}</td>
                      <td style="width:12.5%;padding: 10px 0;border-bottom: 1px solid #ddd;" class="text-white">
                        {{b.holdingInUsd}}</td>
                    
                    </tr>
                  </tbody>
                 
                </table>

              </div> -->

          </ng-template>
        </ngb-tab>
      </ngb-tabset>

    </div>

    <!-- </div> -->
  </div>

</div>
<ng-template #offer let-modal>
  <div class="tests">
    <div></div>
    <div class="modal-header">
      <h4 class="modal-title"></h4>
      <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button> -->
      <!-- <span class="min" style="color:rgba(255, 255, 255, 0.356);">_</span> -->
      <div class="header-modal">Offer Status</div>
    </div>
    <div class="modal-body">
      <div class="row">
        <p class="view-offer text-center">Exchange</p>
        <p class="view-offer text-center">ClientOfferID</p>
        <p class="view-offer text-center">Order Status</p>

      </div>
      <div class="row">
        <!-- <p class="view-offer text-center"><input type="text" placeholder="CEX.IO" class="offtext" disabled></p>
        <p class="view-offer text-center"><input type="text" class="offtext" [(ngModel)]="ClientoffId" disabled></p>
        <p class="view-offer text-center" *ngIf="Offstatus==0"><input type="text" class="offtext"
            placeholder="New offer" disabled></p>
        <p class="view-offer text-center" *ngIf="Offstatus==1"><input type="text" class="offtext"
            placeholder="Partially filled" disabled></p>
        <p class="view-offer text-center" *ngIf="Offstatus==2"><input type="text" class="offtext" placeholder="Filled"
            disabled></p>
        <p class="view-offer text-center" *ngIf="Offstatus==3"><input type="text" class="offtext"
            placeholder="Done for the day" disabled></p>
        <p class="view-offer text-center" *ngIf="Offstatus==4"><input type="text" class="offtext"
            placeholder="Cancelled" disabled></p>
        <p class="view-offer text-center" *ngIf="Offstatus==5"><input type="text" class="offtext"
            placeholder="Removed/Replaced" disabled></p>
        <p class="view-offer text-center" *ngIf="Offstatus==6"><input type="text" class="offtext"
            placeholder="Pending cancel" disabled></p>
        <p class="view-offer text-center" *ngIf="Offstatus==7"><input type="text" class="offtext" placeholder="Stopped"
            disabled></p>
        <p class="view-offer text-center" *ngIf="Offstatus==8"><input type="text" class="offtext" placeholder="Rejected"
            disabled></p>
        <p class="view-offer text-center" *ngIf="Offstatus==9"><input type="text" class="offtext"
            placeholder="Suspended" disabled></p>
        <p class="view-offer text-center" *ngIf="Offstatus=='A'"><input type="text" class="offtext"
            placeholder="Pending new" disabled></p>
        <p class="view-offer text-center" *ngIf="Offstatus=='B'"><input type="text" class="offtext"
            placeholder="Calculated" disabled></p>
        <p class="view-offer text-center" *ngIf="Offstatus=='C'"><input type="text" class="offtext"
            placeholder="Expired" disabled></p>
        <p class="view-offer text-center" *ngIf="Offstatus=='D'"><input type="text" class="offtext"
            placeholder="Accepted for bidding" disabled></p>
        <p class="view-offer text-center" *ngIf="Offstatus=='E'"><input type="text" class="offtext"
            placeholder="Pending replace" disabled></p> -->
        <!-- <p class="view-order text-center"><input type="text" class="ortext" ></p>
        <p class="view-order text-center"><input type="text" class="ortext"></p>
        <p class="view-order text-center">
          <select class="ortext" style="width:82px;height:24px">
            <option value="1">Market</option>
             <option value="2">Limit</option></select></p>
        <p class="view-order text-center"><input type="text" id="mprice" disabled style="display: block;" class="ortext"><input type="text" id="lprice" style="display: none;"  class="ortext"></p> -->

      </div>

      <button class="gen-button btnspace" (click)="modal.close()">OK</button>
      <!-- <button class="gen-button btnspaceright" (click)="buyoffer()">BUY</button> -->
    </div>
    <!-- <div class="modal-footer">
    <button class="gen-button" (click)="modal.close()">cancel</button>
    <button type="button" class="gen-button" (click)="modal.close()">Ok</button>
  </div> -->
  </div>
</ng-template>
<div class="wl" id="tickermax" style="display:none;">
  <div ngResizable class="drag-block-lg ticker-tab" ngDraggable #block="ngDraggable">

    <div id="flipticker">
      <label class="nametxt">Market View</label><button class="btnclose" (click)="closemaxTickerwindow()"><i
          class="fa fa-close"></i></button>

    </div>
    <div id="panelticker">
      <!-- <div class="row"> -->
      <div class="body-dw">
        <ngb-tabset class="tabset1">
  
          <ngb-tab>
            <ng-template ngbTabTitle><b (click)="binanceService.gettickerdata();">Watch List</b> </ng-template>
            <ng-template ngbTabContent>
              <div class="tab-pane active scrollable" id="my-trades" role="tabpanel" aria-labelledby="my-trades-tab">
                <div class="col-md-12 upper-spc">
                  <div class="row">
                    <div clas="col-md-3">
                      <select class="form-control drln" id="bankno" required="">
                        <option _ngcontent-c12="">ROUTING NO</option>
                        <option _ngcontent-c12="">IFSC CODE</option>
                        <option _ngcontent-c12="">IBAN NO</option>
                      </select>
                    </div>
                    <div clas="col-md-2">
                      <input type="text" class="form-control left-sp">
                    </div>
                    <div clas="col-md-1">
                      <button class="gradient-button gradient-button-1 left-sp">ADD</button>
                    </div>
                    <div clas="col-md-1">
                      <button class="left-sp gradient-button gradient-button-1">QUOTE</button>
                    </div>
                    <div clas="col-md-1">
                      <button class="left-sp gradient-button gradient-button-1">SNAP VIEW</button>
                    </div>
                    <div clas="col-md-1">
                      <button class="left-sp gradient-button gradient-button-1">TREND</button>
                    </div>
  
                  </div>
                </div>
                <div class="col-md-12 upper-spc">
                  <div class="row">
                    <div clas="col-md-3">
                      <input type="text" class="form-control" style="background-color: snow !important;">
                    </div>
                    <div clas="col-md-3">
  
                      <input type="text" class="form-control left-sp" style="background-color: snow !important;">
                    </div>
                  </div>
                </div>
  
                <div class="table-msr" id="table-msr">
                  <table style="width:100%;height: 100%;" class="table-bordered table-hover table-condensed">
                    <thead>
                      <tr>
                        <th>Asset</th>
                        <th>Volume</th>
                        <th>PriceChange</th>
                        <th>trends</th>
                        <th>Ask</th>
                        <th>AskQty</th>
                        <th>Bid</th>
                        <th>BidQty</th>
                        <th>CloseQty</th>
                        <th>CurrentClose</th>
                        <th>Open</th>
                        <th>Low</th>
                        <th>High</th>
                        <th>previousClose</th>
  
                        <th>quoteAssetVolume</th>
                      </tr>
                    </thead>
                    <tbody>
  
                      <tr *ngFor="let item of binanceService.alltickers;let i = index;">
  
                        <td>{{item.symbol}}</td>
                        <td>
                          {{item.baseAssetVolume|number : '.3-3'}}</td>
                        <td *ngIf="item.priceChangePercent>=0" style="background-color: green;">{{item.priceChange}}</td>
                        <td *ngIf="item.priceChangePercent<0" style="background-color: red;">{{item.priceChange}}</td>
  
  
                        <td *ngIf="item.currentClose-item.previousClose>=0" style="margin-right:5px;"><img
                            src="../../assets/img/up_final.png" height="16px" width="16px"></td>
                        <td *ngIf="item.currentClose-item.previousClose<0" style="margin-right:5px;"><img
                            src="../../assets/img/down.png" height="16px" width="16px"></td>
                        <td>
                          {{item.bestAskPrice|number : '.3-3'}}</td>
  
                        <td>{{item.bestAskQuantity|number : '.3-3'}}</td>
  
                        <td>{{item.bestBid|number : '.3-3'}}</td>
                        <td>
                          {{item.bestBidQuantity|number : '.2-2'}}</td>
                        <td>{{item.closeQuantity|number : '.2-2'}}</td>
  
                        <td>{{item.currentClose|number : '.2-2'}}</td>
  
                        <td>{{item.open|number : '.4-4'}}</td>
                        <td>{{item.low|number : '.4-4'}}</td>
                        <td>{{item.high|number : '.4-4'}}</td>
  
  
                        <td style="margin-right:5px;">{{item.previousClose}}</td>
  
  
                        <td>{{item.quoteAssetVolume|number : '.3-3'}}</td>
  
                      </tr>
                      <!-- <p class="text-center nodata" *ngIf="tickerasset==null||tickerasset==''" >No Data</p> -->
                      <!-- <tr *ngIf="tickerasset==null||tickerasset==''" style="border-style: none;">
                        <td class="text-center nodata" style="border-style: none;">No Data</td>
                      </tr> -->
                    </tbody>
                  </table>
                </div>
  
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle><b (click)="Getallarders()">Offers</b> </ng-template>
            <ng-template ngbTabContent>
              <div class="tab-pane active scrollable" id="my-trades" role="tabpanel" aria-labelledby="my-trades-tab">
                <div class="col-md-12 upper-spc">
                  <div class="row">
                    <div clas="col-md-3">
                      <select class="form-control drln" id="bankno" required="">
                        <option _ngcontent-c12="">ROUTING NO</option>
                        <option _ngcontent-c12="">IFSC CODE</option>
                        <option _ngcontent-c12="">IBAN NO</option>
                      </select>
                    </div>
                    <div clas="col-md-2">
                      <input type="text" class="form-control left-sp">
                    </div>
                    <div clas="col-md-1">
                      <button class="gradient-button gradient-button-1 left-sp">send</button>
                    </div>
                    <div clas="col-md-1">
                      <button class="left-sp gradient-button gradient-button-1">Amend</button>
                    </div>
                    <div clas="col-md-1">
                      <button class="left-sp gradient-button gradient-button-1">Amend</button>
                    </div>
                    <div clas="col-md-1">
                      <button class="left-sp gradient-button gradient-button-1">Action</button>
                    </div>
                    <div clas="col-md-1">
                      <button class="left-sp gradient-button gradient-button-1">Action</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 upper-spc">
                  <div class="row">
                    <div clas="col-md-3">
                      <input type="text" class="form-control" style="background-color: snow !important;">
                    </div>
                    <div clas="col-md-3">
                      <input type="text" class="form-control left-sp" style="background-color: snow !important;">
                    </div>
                  </div>
                </div>
                <div class="offertable">
  
  
                  <table style="width:100%">
                    <tr>
                      <th>Symbol</th>
                      <th>OrderId</th>
                      <th>Price</th>
                      <th>StopPrice</th>
                      <th>OriginQty</th>
                      <th>ExecutedQty</th>
                      <th>Action</th>
                      <th>Status</th>
                    </tr>
                    <tr *ngFor="let item of alloffer;let i = index;" class="">
                      
                      <td>{{item.symbol}}</td>
                      <td>{{item.orderId}}</td>
                      <td>{{item.price}}</td>
                      <td>{{item.stopPrice}}</td>
                      <td >{{item.origQty}}</td>
                      <td>{{item.executedQty}}</td>
                      <td>{{item.side}}</td>
                      <td>{{item.status}}</td>
                      
                    </tr>
                    <tr  class="">
                      <td class="text-center">{{nodataMsg}}</td>
  
                    </tr>
  
                  </table>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
  
            <ng-template ngbTabTitle><b (click)="Getallarders()">Trades</b> </ng-template>
            <ng-template ngbTabContent>
              <div class="comntable">
                <table class="table">
                  <tr>
                    <th>Symbol</th>
                      <th>OrderId</th>
                      <th>Price</th>
                      <th>StopPrice</th>
                      <th>OriginQty</th>
                      <th>ExecutedQty</th>
                      <th>Action</th>
                      <th>Status</th>
                  </tr>
                  <tr *ngFor="let t of alltrades;let i = index;" class="tradeheight">
                    <td>{{t.symbol}}</td>
                      <td>{{t.orderId}}</td>
                      <td>{{t.price}}</td>
                      <td>{{t.stopPrice}}</td>
                      <td >{{t.origQty}}</td>
                      <td>{{t.executedQty}}</td>
                      <td>{{t.side}}</td>
                      <td>{{t.status}}</td>
                      
                  </tr>
                  <!-- <tr *ngIf="tradedata==null||tradedata==''" class="text-center text-white text-nomsg">
                    {{nodataMsg}}
  
                  </tr> -->
                  <!-- <tbody id="marketTrade" *ngIf="tradedata ==''">
                        <tr>
                          <td >
                            No Data
                          </td>
          
                        </tr>
                      </tbody> -->
                </table>
  
              </div>
  
            </ng-template>
          </ngb-tab>
          <ngb-tab>
  
            <ng-template ngbTabTitle><b (click)="GetAccountInfo()">My wallet</b> </ng-template>
            <ng-template ngbTabContent>
              <div class="col-md-12 upper-spc space-btm">
                <div class="row">
                  <div class="col-md-3">
                   <label class="">Maker comission</label>
                  </div>
                  <div class="col-md-3">
                    <input type="text" [(ngModel)]="maker" class="form-control" style="background-color: snow !important;">
                   </div>
                  <div class="col-md-3">
                  <label class="">Taker Comission</label> 
                  </div>
                  <div class="col-md-3">
                    <input type="text" [(ngModel)]="taker" class="form-control left-sp" style="background-color: snow !important;">
                    </div>
                </div>
              </div>
              <div class="comntable">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Asset</th>
                      <th scope="col">free</th>
                      <th scope="col">Locked</th>
                     
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let b of acbalance; let i=index">
                      
                      <td class="text-white">
                        {{b.asset}}</td>
                      <td class="text-white">
                        {{b.free}}</td>
                      <td class="text-white">
                        {{b.locked}}</td>
                      
  
                    </tr>
                  </tbody>
                </table>
              </div>
  
  
  
              <!-- <div  id="wallettable">
                  <table>
                    <tr>
                      <th scope="col">Asset</th>
                      <th scope="col">Price</th>
                        <th scope="col">Change</th>
                      <th scope="col">Holdings</th>
                      <th scope="col">Holdings ($)</th>
                     
                    </tr>
                    <tbody>
                      <tr *ngFor="let b of myBalanceList; let i=index">
                        <td style="width:12.5%;padding: 10px 0;border-bottom: 1px solid #ddd;" class="text-yellow"> <img
                            src="../../assets/img/currency/{{b.currencyCode}}.svg" height="17px" width="17px">
                          {{b.currencyCode|uppercase}}</td>
                        <td *ngIf="b.lastPrice != '0' || b.action=='buy'; else last_price" style="width:15%;padding: 10px 0;border-bottom: 1px solid #ddd;color:green" class="text-white">{{b.lastPrice}}</td>
                           <ng-template #last_price>
                             <td style="width:12.5%;padding: 10px 0;border-bottom: 1px solid #ddd; color:red" class="text-white">-</td>
                           </ng-template>
                           <td *ngIf="b.roc != '0'; else roc_blnc" style="width:15%;padding: 10px 0;border-bottom: 1px solid #ddd;" class="text-white">{{b.roc}}</td>
                           <ng-template #roc_blnc>
                             <td style="width:12.5%;padding: 10px 0;border-bottom: 1px solid #ddd;" class="text-white">-</td>
                           </ng-template>
                        <td style="width:12.5%;padding: 10px 0;border-bottom: 1px solid #ddd;" class="text-white">
                          {{b.closingBalance}}</td>
                        <td style="width:12.5%;padding: 10px 0;border-bottom: 1px solid #ddd;" class="text-white">
                          {{b.holdingInUsd}}</td>
                      
                      </tr>
                    </tbody>
                   
                  </table>
  
                </div> -->
  
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
  
      </div>
  
      <!-- </div> -->
    </div>

  </div>
</div>
<ng-template #sendcurrency let-modal>
  <div class="tests">
    <div></div>
    <div class="modal-header">
      <h4 class="modal-title"></h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
      <!-- <span class="min" style="color:rgba(255, 255, 255, 0.356);">_</span> -->
      <div class="header-modal">SEND {{asset}}</div>
    </div>
    <div class="modal-body">
      <!-- <form namw="form" #f="ngForm" novalidate> -->
        <!-- <div class="form-group row">
          <div class="col-md-3 text-right">ASSET</div>
          <div class="col-md-9">
            <input type="text" class="form-control text-center" [(ngModel)]="asset" disabled></div>
        </div> -->
        <div class="form-group row">
          <div class="col-md-3 text-right">SEND ADDRESS</div>
          <div class="col-md-9">
            <input type="text" class="form-control"  style="width:200px" disabled  [value]="sendaddress" #sadd ></div>
        </div>
        <div class="form-group row">
          <div class="col-md-4"></div>
          <div class="col-md-8 text-left">
            <button class="btn btn-success" (click)="copy(sadd)">COPY</button>
          </div>
        </div>
   
          <!-- <small >
            <small style="font-size:15px;">Minimum of  <img src="{{'../../assets/img/currency/'+cryptoCurrency+'.svg'}}" width="20" style="padding-right: 5px;"alt="" /> and Maximum <img src="{{'../../assets/img/currency/'+cryptoCurrency+'.svg'}}" width="20" style="padding-right: 5px;"alt="" />can be sent</small>
          </small> -->
         
      <!-- </form> -->s
      <!-- <div class="row">
        <p class="view-offer text-center" style="width: 94px;">Exchange</p>
        <p class="view-offer text-center" style="width: 198px;">Api Key</p>
        <p class="view-offer text-center" style="width: 198px;">Secret Key</p>
       

      </div>
      <div class="row">
        <p class="view-order text-center" style="width: 91px;">
          <select class="ortext" style="width:92px;height:24px" (change)="getexchange($event.target.value);">
            <option value="Binance">Binance</option>
            <option value="Paybito">Paybito</option>
            </select></p>
        <p class="view-order text-center" style="width: 197px;"><input type="text" style="width: 246px;" id="apikey" placeholder="Api Key"></p>
        <p class="view-order text-center" style="width: 200px;"><input type="text" style="width: 199px;" id="secretkey" placeholder="Secret Key"></p>
      </div> -->

      <!-- <button class="gen-button btnspace" (click)="modal.close()">OK</button> -->
      <!-- <button class="gen-button btnspace" (click)="saveKey()">Save</button> -->

    
    </div>
   
  </div>
</ng-template>
<ng-template #receivecurrency let-modal>
  <div class="tests">
    <div></div>
    <div class="modal-header">
      <h4 class="modal-title"></h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
      <!-- <span class="min" style="color:rgba(255, 255, 255, 0.356);">_</span> -->
      <div class="header-modal">RECEIVE {{asset}}</div>
    </div>
    <div class="modal-body">
      <!-- <form namw="form" #f="ngForm" novalidate> -->
        <div class="form-group row">
          <div class="col-md-3" >ASSET</div>
          <div class="col-md-9">
            <input type="text" class="form-control text-center" style="background-color: black;" [(ngModel)]="asset" disabled></div>
        </div>
        <div class="form-group row">
          <div class="col-md-3 ">RECEIVE ADDRESS</div>
          <div class="col-md-9">
            <input type="text" class="form-control"  style="width:200px"  [(ngModel)]="receiveaddress"></div>
        </div>
        <div class="form-group row">
          <div class="col-md-3 ">AMOUNT</div>
          <div class="col-md-9">
            <!-- <input type="number" class="form-control"  style="width:200px" [(ngModel)]="amount"></div> -->
            <input type="number" class="form-control" style="width:200px" [(ngModel)]="amount" name="b" placeholder="0.00"></div>
        </div>
        <div class="form-group row">
          <div class="col-md-4"></div>
          <div class="col-md-8 text-left">
            <button class="btn btn-success" (click)="withdraw();modal.close()">Submit</button>
          </div>
        </div>
   

    
    </div>
   
  </div>
</ng-template>
