/* .ticker-tab{
    width:700px;
    height:440px;
    background-color: rgb(19,23,34);
    border:1px solid rgb(155, 158, 158) ;
    
    padding-right: 5px;
} */
/* .border-col{
    border-right:2px  solid rgb(8, 56, 2) ;
} */
.header-dw{
  width: 100%;
  position: absolute;
  top: 1px;
  background-color: rgb(7, 7, 7);
  text-align: center;
  height: 17px;
  font-size: 13px;
  color: rgb(175, 170, 170);
  /* width: 701px; */
}

/* .body-dw{
margin-left: 19px;

height:423px;
background-color: rgb(19,23,34);
border:1px solid rgb(155, 158, 158) ;

padding-right: 5px;
margin-top: -6px;
margin-right: 14px;
} */
.view-sp{
  border-top: 1px solid rgb(117, 111, 111);
  border-right: 1px solid rgb(117, 111, 111);
  color: rgb(117, 111, 111); 
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  width: 44px;
  margin-bottom: 0px;
  }

/* .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #007bff!important;
    background-color: transparent;
    border-bottom: 1px solid #007bff!important;
} */
.nav-tabs li.active  a{
  display: block;
  background-color: tomato !important;
}


.close {
 
  position :sticky;
z-index: 1;
  left: 664px;
  margin-top: -6px
}
.min {
  position: sticky;
  left: 1022px;
  z-index: 1;
  top: -6px;
  cursor: pointer;
  background-color: rgb(236, 233, 233);
  height: 2px;
  /* background-image: url('../../assets/img/mini1.png'); */
color: rgba(204, 197, 197, 0.397);
}

.min.btn-plus {
  /* position: sticky;
  left: 1029px; */
  z-index: 1;
  top: -6px;
  cursor: pointer;
  height: 16px;
  margin-left: 108px;
  /* background-image: url('../../assets/img/maximize.png'); */
  background-color: rgb(240, 241, 240);
}
span.min img{

  margin-top: -8px;
  /* position: absolute;
  z-index: 99; */
}
span.min #maximize{
  margin-top: -21px;
  /* margin-left: 1px; */
}
#panelticker, #flipticker {
  width: 100%;
  padding: 5px;
  text-align: center;
 
  border:1px solid rgb(115, 113, 117) ;
  /* width:275px; */
  
}
#flipticker{
  background-color: rgb(0, 0, 0);
  border-top:1px solid grey;
 border-left:1px solid grey;
 border-left:1px solid grey;
 color: rgb(182, 181, 181);
 text-align: center;
  font-size: 13px;
}
#panelticker {
  background-color: rgb(19,23,34);
  /* padding: 50px; */
  /* height:408px; */
  /* display: none; */
}
/* span.max {
  position: sticky;
  left: 1029px;
  z-index: 1;
  top: -6px;
  cursor: pointer;
color: rgba(204, 197, 197, 0.397);
} */
.ticker-body{
    background-color: rgb(19,23,34);
    margin-left: 21px;
    margin-right: 19px;
    margin-top: 20px;
    width: 100%;
    height: 100%;

}
.ng-draggable {
    cursor: grab;
  }
   
  .ng-dragging {
    cursor: grabbing;
  }
   .table-msr{
    /* margin-left: -3px !important; */
    height:295px;
    width: auto;
    overflow-y: auto; 
    overflow-x: auto;
  }
  .oneticker{
    height:100px;
    width: auto;
    overflow-y: auto; 
    overflow-x: auto;
  }
  .text-right{
    color: rgb(10, 10, 10);
    font-size: 14px;
  }
  .table-msr.new-ht{
   
    
     width: 100%; 
     height: 100%;
    
     /* margin-left: -270px; */
     /* position: absolute;
    overflow: hidden;
    width: 1358px;
    height: 452px;
    top: 4px;
    left: 4px;  */
  }
  .wl{
    float: left;
    margin-left: 0;
    padding: 2px;
    height:100%;
    width: 160%;
   margin-bottom: 2px;
  }
  .table-msr thead th { position: sticky; top: 0; }
.ticker-tbl{
  height:100px;
}
.nametxt{
  text-align: center;
  font-size: 15px;
  margin-bottom: 1px;

}
   /* td {
    border: 1px solid rgb(126, 124, 124);
    border-collapse: collapse;
  }
  
  th {
    border: 1px solid rgb(8, 127, 163);
    border-collapse: collapse;
  } */
  /* #table1 table {
 
    border: 2px solid rgb(8, 127, 163);
  } */
  /* #table1 table, th, td {
   color: grey;
   font-family: "Arial Black", Gadget, sans-serif;
    font-size: 10PX;
  } */
  /* #table1 td:first-child + td + td +td +td +td +td +td{
    background-image: linear-gradient(red,black)} */
  /* #table2 {
     border: 3px solid rgb(82, 84, 85);
     font-family: "Arial Black", Gadget, sans-serif;
    font-size: 10PX;
    border-collapse: collapse !important;
    color: grey;
  } */
  /* table td:first-child + td + td +td +td +td +td +td{
    background-image: linear-gradient(rgb(255, 0, 0),black)} */
   
/*    
    :host ::ng-deep .tabset1 a.nav-link {
      color: rgb(84, 87, 84) !important;
    } */
    
    :host ::ng-deep .tabset1 a.nav-link.active {
      border: 2px solid rgb(65, 64, 64);
      color: rgb(17, 16, 16) !important;
      font-weight: bold;
      font-family:arial, sans-serif;
      font-size: 12PX;
      background-image: linear-gradient(rgb(233, 230, 230),black);

    }
  

    :host ::ng-deep .tabset1 .nav-tabs .nav-link {
      border: 1px solid rgb(10, 10, 10);
      border-top-left-radius: 6px !important;
      border-top-right-radius: 6px!important;
      font-family:arial, sans-serif;
      font-size: 12PX;
      background-color: #404347;
      color:#fff;

  }
  :host ::ng-deep .tabset1 .nav-tabs {
    border-bottom: 1px solid #404347 !important;
    height: 38px;

}

:host ::ng-deep #table2 {
  border-collapse: collapse;
  border: 1px solid rgb(95, 93, 93);
}
:host ::ng-deep #table1 {
  border-collapse: collapse;
  border: 1px solid rgb(95, 93, 93) !important;
}
:host ::ng-deep .comntable{
  height: 369px;
  overflow-x:hidden;
  
}
.nodata{
  left: 67px;
  position: absolute;
  font-size: 14px;
  margin-left: 297px;
  color: white;
  margin-top: 10px;

}
.comntable::-webkit-scrollbar{
  background: rgb(207, 208, 211); 
  border-radius: 10px;
  width: 10px;
}
.space-btm{
 
    height: 74px;

}

.comntable table { table-layout: auto }
.comntable col.totals { width:auto}
.comntable th{font-family: arial, sans-serif; font-size: 11px;color:aliceblue;text-align: center;background-color:rgb(61, 59, 59);}
.comntable td{font-family: arial, sans-serif;font-size: 11px;color:rgb(255, 255, 255);text-align: center  }
.comntable table { border:2px solid grey; }
.comntable table {
  border-collapse: collapse;
}
.comntable table, th, td {
  border: 1px solid aliceblue;
}
.offertable table { table-layout: fixed }
.offertable col.totals { width: 6em }
.offertable th{font-family: arial, sans-serif; font-size: 11px;color:aliceblue;text-align: center;background-color:rgb(61, 59, 59);}
.offertable td{font-family: arial, sans-serif;font-size: 11px;color:rgb(255, 255, 255);text-align: center}
.offertable table { border:2px solid grey; }
.offertable table {
  border-collapse: collapse;
}

/* #table-msr th{ padding: 5px; } cellpadding */
/* #table-msr td{ padding: 5px; }  */

#table-msr table { table-layout:auto}
#table-msr col.totals { width: auto }
#table-msr th{font-family: arial, sans-serif; font-size: 11px;color:aliceblue;text-align: center;background-color:rgb(61, 59, 59);}
#table-msr td{font-family: arial, sans-serif;font-size: 10px;color:rgb(255, 255, 255);text-align: center; border-style: dotted;padding:2px;border-spacing:3px;}
/* #table-msr table { border:2px solid grey} */
#table-msr table {
  border-collapse: collapse;
}

#table-msr table, th, td {

 margin: 0;
}
#table-msr-search table { table-layout:auto}
#table-msr-search col.totals { width: auto }
#table-msr-search th{font-family: arial, sans-serif; font-size: 11px;color:aliceblue;text-align: center;background-color:rgb(61, 59, 59);}
#table-msr-search td{font-family: arial, sans-serif;font-size: 10px;color:rgb(255, 255, 255);text-align: center; border-style: dotted;padding:2px;border-spacing:3px;}
/* #table-msr table { border:2px solid grey} */
#table-msr-search table {
  border-collapse: collapse;
}

#table-msr table, th, td {

 margin: 0;
}
/* oneticker */
#oneticker table { table-layout:auto}
#oneticker col.totals { width: auto }
#oneticker th{font-family: arial, sans-serif; font-size: 11px;color:aliceblue;text-align: center;background-color:rgb(61, 59, 59);}
#oneticker td{font-family: arial, sans-serif;font-size: 10px;color:rgb(255, 255, 255);text-align: center; border-style: dotted;padding:2px;border-spacing:3px;}
/* #table-msr table { border:2px solid grey} */
#oneticker table {
  border-collapse: collapse;
}

#oneticker table, th, td {

 margin: 0;
}

/* #wallettable table { table-layout:auto}
#wallettable col.totals { width: 2em }
#wallettable th{font-family: arial, sans-serif; font-size: 11px;color:aliceblue;text-align: center}
#wallettable td{font-family: arial, sans-serif;font-size: 11px;color:rgb(255, 255, 255);text-align: center}
#wallettable table { border:2px solid grey; }
#wallettable table {
  border-collapse: collapse;
}

#wallettable table, th, td {
  border-color: aliceblue;
} */
#wallettable table { table-layout:auto;}


#wallettable th{font-family: arial, sans-serif; font-size: 11px;color:aliceblue;text-align: center;background-color:rgb(61, 59, 59);}
#wallettable td{font-family: arial, sans-serif; font-size: 10px;color:aliceblue;text-align: center}
/* #wallettable td{border-style: none;} */
#wallettable{
   height:377px;
  overflow-y: auto; 
  overflow-x: hidden;
  margin: 3px;
  border:2px slid red;
}
#wallettable::-webkit-scrollbar{
  background: rgb(105, 103, 103); 
  border-radius: 15px;
  cursor: pointer;
  width: 8px;
}
:host ::ng-deep .offertable{
height: 278px;
  overflow-x:hidden;
  
}
.offer-header{
  margin-left: 2px !important;
 
  border-top: 1px solid rgb(117, 111, 111);
  border-bottom: 1px solid rgb(117, 111, 111);
  border-left: 1px solid rgb(117, 111, 111);

  color: rgb(54, 51, 51); 
  font-family: 'Times New Roman', Times, serif;
  font-size: 13px;
  width: 75px;
  margin-bottom: 0px;
  padding:2px;
  text-align: center;
}


/* .btn-minimize {
  width: 50px;
  height: 50px;
  background-color: #F00;
} */
/* .btn-minimize.btn-plus {
  background-color: #0F0;
} */
nav > .nav.nav-tabs{

  border: none;
    color:#fff;
    background:#272e38;
    border-radius:0;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
  border: none;
    padding: 18px 25px;
    color:#fff;
    background:#272e38;
    border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
 {
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: rgb(200,0,0) ;
}
.tab-content{
  background: rgb(19,23,34);
    line-height: 25px;
    border: 1px solid #ddd;
    border-top:5px solid #0da0c5;
    border-bottom:5px solid #0da0c5;
    padding:30px 25px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
  border: none;
    background: #777676;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}
/* modal */

.tests{
  
  background-color: #38e7d9 !important;
 
}

/* .btnspace{
  margin-left: 178px;
  margin-top: 10px;
} */

.offtext{
  width:163px;
  text-align: center;
  cursor: pointer;
}
/* modal */

.table-msr::-webkit-scrollbar{
  /* background: rgb(7, 7, 7);  */

  /* border-radius: 15px; */
  width: 8px;
  background: #8c8d8f;
}
.table-msr::-webkit-scrollbar{
  /* background: rgb(7, 7, 7);  */

  /* border-radius: 15px; */
  width: 8px;
  background: #8c8d8f;
}
.table-msr::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.3);
  transition: .5s;
  border-radius: 1em;
}
.table-msr::-webkit-scrollbar-track {
  background: 0 0;
}
.tickermax{
  width: 100%;
  height: 100%;
  flex:100%;
}
/* ============= */
#myInput {
  background-image: url('../../assets/img/searchiconf.png');
  /* background-position: 10px 10px; */
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  color:black;
  background-color: white;
}

/* #myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
  color:white;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
} */