<div ngResizable ngDraggable class="drag-block-lg ordershortcut-tab" id="ordershortcut" style="display:block;">
    <!-- <button type="button" class="close" aria-label="Close" (click)="closeordershortcut()">
        <span aria-hidden="true">&times;</span>
    </button> -->
    <!-- <button class="minshort" id="minshort" (click)="buttonclick()"></button> -->
    <!-- <span class="min" style="color:rgba(255, 255, 255, 0.356);"  (click)="showalert()">-</span> -->
    <!-- <div class="header-dw" (click)="buttonclick()">Order Shorcut</div> -->
    <!-- <div class="shot-body">
        <div class="col-md-12 upper-spc top-sp">
            <div class="row">
                <div class="col-md-5">
                    <p style="color: gray;font-family: Times New Roman;font-size: 13px;">Order Shortcut</p>
                </div>
                <div class="col-md-3"><button class="btn-dr"><img src="../../assets/img/sun.png"></button></div>
                <div class="col-md-4"><button class="btn-dr"><img src="../../assets/img/refresh2.png" height="16px"
                            width="16px"></button></div>
            </div>
        </div>
        <div class="row" style="height: 358px;">
            <div class="sh-box" id="sh-box">
                <div class="orsrt-body" *ngFor="let s of shorcutdatafinal">
                   
                    <div class="short-box" style="color: rgb(46, 43, 43);font-family: Times New Roman;font-size: 15px;">
                        <img src="../../assets/img/currency/{{s.symbol1}}.svg" height="15px" width="15px"
                            style="margin-right:5px;margin-left: 5px;">{{s.symbol1}}{{s.symbol2}} &nbsp;&nbsp;
                        &nbsp;{{s.price}}</div>
                   
                </div>
            </div>

        </div>
    </div> -->
    <div id="flip" (click)="buttonclick()">
        <label class="nametxt"></label><button class="btnclose"
        (click)="closeordershortcut()"><i class="fa fa-close"></i></button>
    </div>
    <div id="panel">
        <!-- <div class="col-md-12 upper-spc">
            <div class="row">
                <div class="col-md-5">
                    <p style="color: gray;font-family: Times New Roman;font-size: 13px;">Order Shortcut</p>
                </div>
                <div class="col-md-3"><button class="btn-dr"><img src="../../assets/img/sun.png"></button></div>
                <div class="col-md-4"><button class="btn-dr"><img src="../../assets/img/refresh2.png" height="16px"
                            width="16px"></button></div>
            </div>
        </div> -->
        <div class="row">
            <div class="sh-box" id="sh-box">
                <div class="orsrt-body" *ngFor="let s of _BinanceService.shortcutasset">
                   
                    <div class="short-box" style="color: rgb(46, 43, 43);font-family: Times New Roman;font-size: 10px;">
                        <img src="../../assets/img/currency/{{s.symbol|slice:0:3}}.svg" height="15px" width="15px"
                            style="margin-right:5px;margin-left: -1px;margin-top:4px;">
                            {{s.symbol}}&nbsp;&nbsp;
                        &nbsp;{{s.currentClose|number : '.3-3'}}</div>
                   
                </div>
            </div>

        </div>
    </div>
</div>