/* .ordershortcut-tab{
  width:275px;
  height:440px;
  left: 100px;
  
  bottom: 100px;
  background-color:rgb(19,23,34);
  border:1px solid rgb(115, 113, 117) ;
  padding-left: 5px;
  padding-right: 5px;
} */
/* .shot-body{
  width:275px;
  height:440px;
  left: 100px;
 
  bottom: 100px;
  background-color:rgb(19,23,34);
  border:1px solid rgb(115, 113, 117) ;
  padding-left: 5px;
  padding-right: 5px;
  
} */
/* .header-dw{
  width:290px;
  background-color: rgb(60, 144, 212);
  text-align: center;
} */
button.close {

position: sticky;
left: 266px;
margin-top: -3px;
z-index: 1;

}
.ng-draggable {
  cursor: grab;
}
/* .body-dw{
  margin-left: 20px;
  width: 687px;
  margin-top: 9px;
  
  } */
.ng-dragging {
  cursor: grabbing;
}
/* .minshort {
 
  position: absolute;
    left: 242px;
    z-index: 1;
    top: 8px;
    
} */
/* .minshort.btn-plus {
  
  z-index: 1;
  margin-top: -6px;
  height: 16px;
  cursor: pointer;
  margin-left: 1px;
  margin-left: -158px;
  background-color: rgb(240, 241, 240);
 
} */
/* .orsrt-body{
width: 268px;

} */
.sh-box{
width: 100%;
height:413px;
overflow-x: hidden;
}
#panel, #flip {
  width: 100%;
  padding: 5px;
  text-align: center;
 
  border:1px solid rgb(115, 113, 117) ;
  /* width:275px; */
  
}
#flip{
  background-color: rgb(0, 0, 0);
  border-top:1px solid grey;
 border-left:1px solid grey;
 border-left:1px solid grey;
 color: rgb(182, 181, 181);
 text-align: center;
  font-size: 13px;
}
#panel {
  background-color: rgb(19,23,34);
  /* padding: 50px; */
  /* height:408px; */
  /* display: none; */
}
.shot-body,.header-dw{
  /* width: 100%; */
   left: 1px;
  background-color: rgb(0, 0, 0);
  text-align: center;
   font-size: 13px;
  border-top:1px solid grey;
  border-left:1px solid grey;
  border-left:1px solid grey;
  color: rgb(182, 181, 181);
}
/* .top-sp{
  margin-top: 18px !important;
  width: 100%;
  height: 48px;
  background-color: rgb(19,23,34);
  border: 1px solid rgb(105, 102, 102);
  padding-top: 2px;
   padding-top: 9px;
   width: 100%;
   padding-right: 1px;
} */
.btn-dr{
  margin-top: 1px;
  font-family: "Arial Black", Gadget, sans-serif;
  
  font-size: 8px;
  /* padding: 10px !important; */
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(94, 89, 89);
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  width: 50px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
  display: inline-block;
  border-radius: 2px;
 height: 25px;
 background-image: linear-gradient(to bottom, #d4d3d1 5%, #312f30 70%);

 
}
.short-box{
background-color: rgb(231, 247, 17);
height: 25px;
margin-top: 10px;
width: 83%;
margin-left: 14px;


border: 1px solid #000;
border-radius: 10px;
/* overflow-x: auto; */
}
.short-box2{
background-color: rgb(216, 180, 19);
height: 25px;
margin-top: 10px;
width: 100%;

border: 1px solid #000;
border-radius: 10px;
}
.short-box3{
  background-color: rgb(255, 255, 255);
  height: 25px;
  margin-top: 10px;
  width: 100%;
  
  border: 1px solid #000;
  border-radius: 10px;
  }
  .short-box4{
      background-color: rgb(29, 174, 231);
      height: 25px;
      margin-top: 10px;
      width: 100%;
      
      border: 1px solid #000;
      border-radius: 10px;
      }
      .short-box5{
          background-color: rgb(76, 39, 209);
          height: 25px;
          margin-top: 10px;
          width: 100%;
          
          border: 1px solid #000;
          border-radius: 10px;
          }
          .short-box6{
              background-color: rgb(247, 17, 47);
              height: 25px;
              margin-top: 10px;
              width: 100%;
            
              border: 1px solid #000;
              border-radius: 10px;
              }
  
.sh-box::-webkit-scrollbar{
background: rgb(117, 117, 115); 
border-radius: 9px;
width: 5px;
}