<!-- <ol>
    <li> -->
      <!-- <mat-form-field>
        <mat-label>What's your name?</mat-label>
        <input matInput [(ngModel)]="name">
      </mat-form-field> -->
    <!-- </li>
    <li>
      <button mat-raised-button (click)="openDialog()">Pick one</button>
    </li>
    <li *ngIf="animal">
      You chose: <i>{{animal}}</i>
    </li>
  </ol> -->
  <div id="flip" (click)="buttonclick()">Click to slide the panel down or up</div>
<div id="panel">Hello world!</div>
  
