<div ngResizable ngDraggable class="drag-block-lg tradingdata-tab" id="tradingdata" style="display:none;">
  <button type="button" class="close" aria-label="Close" (click)="closewatchtwo()">
      <span aria-hidden="true">&times;</span>
  </button>
  <span class="min" style="color:rgba(255, 255, 255, 0.356);">_</span>
  <div class="header-dw">Trading Data</div>
 
  <div class="col-md-12 upper-spc top-sp">
      <div class="row">
  <div class="col-md-5"><p style="color: gray;font-family: Times New Roman;font-size: 15px;">Trading Data</p></div>
  <div class="col-md-3"><button class="btn-dr"><img src="../../assets/img/sun.png"></button></div>
  <div class="col-md-4"><button class="btn-dr"><img src="../../assets/img/refresh2.png" height="16px" width="16px"></button></div>
</div>
  </div>
  <div class="col-md-12">
    <div class="table-responsive table-msr">
      <table style="width:100%;height: 100%;" class="table-bordered table-hover table-condensed" id="table1">
        <tr>
          <th>Price</th>
          <th>Amount</th>

        </tr>
        <tr>
         
          <td class="text-white">00000</td>
          <td class="text-white" >0000</td>
          <!-- <td class="text-white"></td> -->
          
        </tr>
       
      </table>
      
  </div>
</div>