.tradingdata-tab{
    width:350px;
    height:500px;
    left: 100px;
    border:1px solid #000 ;
    bottom: 100px;
    background-color:rgb(26, 25, 25);
}

/* .header-dw{
    width:290px;
    background-color: rgb(60, 144, 212);
    text-align: center;
} */
button.close {
 
    position: absolute;
  
    left: 327px;
    margin-top: -6px;
    z-index: 1;
}
.ng-draggable {
    cursor: grab;
  }
  .body-dw{
    margin-left: 20px;
    width: 687px;
    margin-top: 9px;
    
    }
  .ng-dragging {
    cursor: grabbing;
  }
  .min {
 
    position: absolute;
    left: 312px;
    z-index: 1;
    margin-top: -5px;
    z-index: 1;
}
.header-dw{
    width: 100%;
    position: absolute;
    left: 1px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    height: 17px;
    font-size: 13px;
    color: rgb(97, 91, 91);
  }
.top-sp{
    margin-top: 18px !important;
}
.btn-dr{
    margin-top: 1px;
    font-family: "Arial Black", Gadget, sans-serif;
    
    font-size: 8px;
    /* padding: 10px !important; */
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(94, 89, 89);
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 50px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    border-radius: 2px;
   height: 25px;
   background-image: linear-gradient(to bottom, #d4d3d1 5%, #312f30 70%);
  
   
}
.short-box{
background-color: rgb(231, 247, 17);
height: 25px;
margin-top: 10px;
width: 340px;
margin-left: -11px;
border: 1px solid #000;
border-radius: 10px;
}
.short-box2{
background-color: rgb(216, 180, 19);
height: 25px;
margin-top: 10px;
width: 340px;
margin-left: -11px;
border: 1px solid #000;
border-radius: 10px;
}
.short-box3{
    background-color: rgb(255, 255, 255);
    height: 25px;
    margin-top: 10px;
    width: 340px;
    margin-left: -11px;
    border: 1px solid #000;
    border-radius: 10px;
    }
    .short-box4{
        background-color: rgb(29, 174, 231);
        height: 25px;
        margin-top: 10px;
        width: 340px;
        margin-left: -11px;
        border: 1px solid #000;
        border-radius: 10px;
        }
        .short-box5{
            background-color: rgb(76, 39, 209);
            height: 25px;
            margin-top: 10px;
            width: 340px;
            margin-left: -11px;
            border: 1px solid #000;
            border-radius: 10px;
            }
            .short-box6{
                background-color: rgb(247, 17, 47);
                height: 25px;
                margin-top: 10px;
                width: 340px;
                margin-left: -11px;
                border: 1px solid #000;
                border-radius: 10px;
                }
    
